html {
  box-sizing: border-box;
  height: 100%;
}

body {
  box-sizing: inherit;
  margin: 0;
  height: 100%;
}

#gallery {
  box-sizing: inherit;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999;
  border-bottom: 2px solid rgb(231, 231, 231);
  background-color: #f3f3f3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#gallery-content {
  box-sizing: inherit;
  flex: 0 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.spacer {
  box-sizing: inherit;
  flex: 1 1 0;
  padding: 0.2cm;
}

.icon-bar {
  box-sizing: inherit;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  /*border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom-right-radius: .15cm;
    border-bottom-left-radius: .15cm;*/
  padding: 0.2cm;
}

.icon {
  box-sizing: inherit;
  flex: 0 1 auto;
  width: 2.5cm;
  height: auto;
  min-width: 2cm;
  /*border: 1px solid lightgray;*/
  border-radius: 0.15cm;
  /*margin: .15cm;*/
  padding: 0.2cm;
}

.icon:hover {
  background-color: lightskyblue;
}

.content-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#bin {
  box-sizing: inherit;
  flex: 0 1 auto;
  width: 2cm;
  height: auto;
  border-radius: 0.15cm;
  margin: 0.3cm;

  background-image: url('./images/icons/bin-closed.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

#bin.not-empty {
  background-image: url('./images/icons/bin-closed-not-empty.svg');
}

#bin:hover.empty,
#bin.open.empty {
  background-image: url('./images/icons/bin-open-empty.svg');
}

#bin:hover.not-empty,
#bin.open.not-empty {
  background-image: url('./images/icons/bin-open-not-empty.svg');
}

#gallery-collapse-button {
  display: none; /* TODO */
}

#canvas {
  box-sizing: inherit;
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.item {
  box-sizing: inherit;
  z-index: 1;
  height: fit-content;
  border-radius: 0.15cm;
  border: 2px solid rgba(255, 255, 255, 0);
}

.item-img {
  box-sizing: inherit;
  width: 2.5cm;
}

.item-port {
  visibility: hidden;
  box-sizing: inherit;
  position: absolute;
  top: 42.5%;
  left: 42.5%;
  width: 15%;
  height: 15%;
  border-radius: 60%;
  background-color: rgb(135, 206, 250);
  border: 2px solid rgb(123, 200, 248);
  opacity: 0.35;
}

.item:hover .item-port {
  visibility: visible;
}

.item-port:hover {
  transform: scale(1.5);
  opacity: 0.7;
}

.link {
  box-sizing: inherit;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

.ethernet-link {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
}

.wifi-link {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='black' stroke-dasharray='5' vector-effect='non-scaling-stroke'/></svg>");
}

.ethernet-link.selected {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='lightskyblue' stroke-width='3' vector-effect='non-scaling-stroke'/></svg>");
}

.wifi-link.selected {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='lightskyblue' stroke-dasharray='5' vector-effect='non-scaling-stroke'/></svg>");
}

.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  user-select: none;
}

.selection {
  position: absolute;
  z-index: 999998;
  background-color: lightskyblue;
  opacity: 0.2;
  border: 1px solid rgb(45, 122, 170);
}
